{% extends 'base.html' %}

{% load static %}

{% block first_content %}

{% endblock %}

{% block title %}
  Iniciar sesión
{% endblock %}

{% block second_content %}
  <div class="login-container">
    <div class="login-logo">
      <img src="{% static 'img/small-logo.png' %}" alt="Logo Solufood" />
    </div>
    <div class="login-header">
      <h1>Login</h1>
    </div>
    {% load crispy_forms_tags %}
    <div class="login-body">
      <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="login-button">
          <button type="submit">Ingresar</button>
        </div>
      </form>
    </div>
    <div class="login-recuperar">
      <a href="">Recuperar contraseña</a>
    </div>
    <div class="login-no-cuenta">
      <p>¿No tienes una cuenta?</p>
      <a href="/registrar">¡Únete!</a>
    </div>
  </div>
{% endblock %}
