{% extends 'base.html' %}
{% load static %}

{% block title %}
  Ingresa tus datos
{% endblock %}

{% block first_content %}
  <div class="container-signup">
    {% if messages %}
      <div class="alert {{ request.session.level_mensaje }} alert-dismissible" role="alert">
        <ul>
          {% for message in messages %}
            <li>
              <strong>{{ message }}</strong>
            </li>
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block second_content %}
  <div class="signup-container">
    <div class="signup-logo">
      <img src="{% static 'img/small-logo.png' %}" alt="Logo Solufood" />
    </div>
    <div class="signup-header">
      <h1>Signup</h1>
    </div>
    {% load crispy_forms_tags %}
    <div class="signup-body">
      <form method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="signup-button">
          <button type="submit" onclick="registroAlert()">Unirme</button>
        </div>
        <div class="signup-already">
          <a href="/login">¿Ya tienes una cuenta?</a>
        </div>
      </form>
    </div>
  </div>

  <script>
    function registroAlert(){
      Swal.fire({
        "title": "¡Registrado!",
        "text": "Redirigiendote a menú de Login...",
        "icon": "success",
        "timer": "2000"
      }).then(function(result) {
          window.location.href = {% url 'login' %}
      });
    };
  </script>
{% endblock %}
