{% extends 'base.html' %}
{% load guest_user %}
{% load static %}

{% block title %}
  Mi carrito de compras!
{% endblock %}

{% block first_content %}

{% endblock %}
{% block second_content %}
  {% if request.session.carro.items %}
    <div class="carrito-container">
      <div class="carrito-titulo">
        <h1>Carrito de compras</h1>
      </div>
      <div class="carrito-productos">
        <table class="table">
          <thead>
            <th>Pedido</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
          </thead>
          <tbody>
            {% load bootstrap_icons %}
            {% load humanize %}

            {% for item in carro %}
              {% with producto=item.producto %}
                <tr>
                  <td>
                    <a href="{{ producto.get_absolute_url }}">
                      <img src="{% if producto.imagen %}
                          {{ producto.imagen.url }}
                        {% else %}
                          {% static 'img/default.jpg' %}
                        {% endif %}"
                        alt="..."
                        style="height: 130px; width: auto" />
                    </a>
                  </td>
                  <td>{{ producto.nombre }}</td>
                  <td>
                    <form class="carrito-form" action="{% url 'carro:carro_mas' producto.id_producto %}" method="post">
                      {% csrf_token %}
                      {{ item.update_cantidad_form.cantidad }}
                      {{ item.update_cantidad_form.update }}
                      <input type="submit" value="Actualizar" class="carrito-actualizar" />
                    </form>
                    <button class="carrito-quitar"><a href="{% url 'carro:carro_menos' producto.id_producto %}">Quitar</a></button>
                  </td>
                  <td class="carrito-precio">$ {{ item.precio|intcomma }}</td>
                  <td class="carrito-total">$ {{ item.precio_total|intcomma }}</td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="carrito-resumen">
        <h2 class="h2-resumen">Resumen</h2>
        <div class="resumen-cantidad">Cantidad Total</div>
        <div class="resumen-local">
          <div class="resumen-title">Local de retiro</div>
          <select class="resumen-select" name="" id="">
            <option value="volvo">Sucursal La Florida</option>
            <option value="saab">Sucursal Puente Alto</option>
          </select>
        </div>

        <div class="resumen-total">Total: $ {{ carro.carro_total|intcomma }}</div>
        <a class="resumen-checkout" href="{% url 'ordenes:orden_nuevo' %}"><button>Checkout</button></a>
      </div>
    </div>
  {% else %}
    <div class="detalle-titulo">
      <h3>¡Tu carrito de compras está vacío!</h3>
      <img src="{% static 'img/flork-sad.png' %}" alt="" />
    </div>
  {% endif %}
{% endblock %}