{% extends 'base.html' %}
{% load guest_user %}
{% load static %}

{% block title %}Mi carrito de compras!{% endblock %}

{% block first_content %}{% endblock %}
{% block second_content %}

{% if request.session.carro.items %}
    <div class = "row">
        <div class = "col-md-12">
            <h1>Mi carrito de compras</h1>            
            <table class="table">
                <thead>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio total</th>
                </thead>
                <tbody>
                    {% load bootstrap_icons %}
                    {% load humanize %}
                    
                        {% for key, value in request.session.carro.items %}
                            <tr>
                                <td>
                                    {% if value.imagen %}
                                        <img class="img-fluid"  src="{{value.imagen.url}}" class="card-img-top p-2" alt="{{value.nombre}}">
                                    {% else %}
                                        <img src="{% static 'img/image_not_found.jpg' %}" class="card-img-top" alt="not found">
                                    {% endif %}                        
                                </td>
                                <td>{{value.nombre}}</td>
                                <td>{{value.cantidad}}
                                    <a href="{% url 'carro:carro_mas' value.id_producto %}" class="btn btn-secondary btn-sm" type="button"><i class="bi bi-plus"></i></a>
                                    <a href="{% url 'carro:carro_menos' value.id_producto %}" class="btn btn-secondary btn-sm" type="button"><i class="bi bi-dash"></i></a>
                                   
                                </td>                               
                                <td> $ {{value.precio | intcomma }} </td>
                            </tr>
                        {% endfor %}    
                </tbody>
            </table>
    </div>            
                        
{% else %}
    <h3>No hay elementos en tu carro de compras.</h3>
{% endif %}
    <div class="col-md-4">
    {% if user|is_guest_user %}
        <a class="btn btn-warning" href="{% url 'registrar' %}">¡Registrate para guardar tus compras y ganar premios!</a>
    {% endif %}  
    </div>
        <div class="row">
            <div class="col-md-4" style="text-align : center">
                Total: $ {{importe_total_carro | intcomma }}
            </div>
            <div class="col-md-4" style="text-align : right">
                <a class="btn btn-dark" href="{% url 'home' %}">Seguir comprando</a>
                <a class="btn btn-danger" href="{% url 'carro:carro_limpiar' %}">Limpiar</a>
                <a class="btn btn-primary" href="{% url 'ordenes:orden_nuevo' %}">Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}        
