{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ producto.nombre }}
{% endblock %}

{% block first_content %}

{% endblock %}
{% block second_content %}
  <div class="container-detalle">
    <div class="detalle-imagen">
      {% if producto.imagen %}
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" />
      {% else %}
        <img src="{% static 'img/image_not_found.jpg' %}" alt="not found" />
      {% endif %}
    </div>

    <div class="detalle-panel">
      <h3>{{ producto.nombre }}</h3>
      <div class="detalle-categoria">
        <a href="{% url 'categoria' producto.categoria %}">{{ producto.categoria }}</a>
      </div>
      {% load humanize %}

      <div class="detalle-precio">
        <p>$ {{ producto.precio|intcomma }}</p>
      </div>

      <div class="detalle-descripcion">{{ producto.descripcion|linebreaks }}</div>

      <form class="detalle-form" action="{% url 'carro:carro_mas' producto.id_producto %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="detalle-button"><input type="submit" value="Añadir al carrito" /></button>
      </form>
    </div>
  </div>
{% endblock %}