{% extends "base.html" %}

{% load static %}

{% block title %}Checkout{% endblock %}

{% block first_content%}{%endblock%}

{% block second_content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">Checkout</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Ordenar">
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Tu pedido:
                </div>
                <ul class="list-group">
                    {% load humanize %}
                    {% for item in carro %}
                        <li class="list-group-item">
                        {{ item.producto.nombre }}
                        <br>$ {{ item.precio | intcomma}} x {{ item.cantidad }}
                        <br>$ {{ item.precio_total | intcomma}}</span>
                        </li>
                    {% endfor %}

                    <div class="col-md-8">
                        <p>Usa tu cupón:</p>
                        <form action="{% url 'cupones:aplicar' %}" method="post">
                          {% csrf_token %}
                          {{ cuponform }}
                          <input class="btn btn-success" type="submit" value="Aplicar">
                        </form>
                      </div>
                    
                <li class="list-group-item active">Total: $ {{ carro.carro_total | intcomma }}</li>
                </ul>

                <div class="row">
                    <div>
                        {% if carro.cupon %}
                        <ul>
                            <li> Subtotal: $ {{carro.carro_total | intcomma}}</li>
                            <li> Descuento: $ {{carro.descuento | intcomma }}</li>
                            <li> Total: $ {{carro.total | intcomma }} </li>
                        </ul>
                        {% endif %}
                    </div>                
                </div>    
            </div>
        </div>
    </div>
{% endblock %}