{% extends 'base.html' %}
{% load guest_user %}
{% load static %}

{% block title %}
  Checkout
{% endblock %}

{% block first_content %}

{% endblock %}

{% block second_content %}
  <div class="container-checkout">
    <div class="checkout-datos">
      <div class="checkout-title">
        <h2>Checkout</h2>
      </div>
      <form class="checkout-form" action="." method="post">
        {% csrf_token %}
        {{ form }}
        <div class="checkout-ordenar-button">
          <input type="submit" value="Ordenar" />
        </div>
      </form>
    </div>
    <div class="checkout-resumen">
      <div class="checkout-resumen-title">
        <h6>Tu pedido</h6>
      </div>
      <ul class="list-group">
        {% load humanize %}
        {% for item in carro %}
          <li class="list-group-item">
            {{ item.cantidad }} x {{ item.producto.nombre }}
            <span>$ {{ item.precio|intcomma }}</span>
          </li>
        {% endfor %}

        <div class="checkout-subtotal">
          <li class="list-group-item active">Subtotal: $ {{ carro.total|intcomma }}</li>
        </div>

        {% if user|is_guest_user %}
          <div class="carrito-invitacion">
            <p>Únete para guardar tus compras y ganar premios</p>
            <div class="carrito-signup">
              <a href="{% url 'registrar' %}"><button class="checkout-unirme">Unirme</button></a>
            </div>
          </div>
        {% else %}
          <div class="checkout-cupon">
            <p>Usa tu cupón:</p>
            <form action="{% url 'cupones:aplicar' %}" method="post">
              {% csrf_token %}
              {{ cuponform }}
              <button onclick="cuponAlert()" class="btn btn-success" type="submit">Aplicar</button>
            </form>
          </div>
        {% endif %}
        <li class="list-group-item active checkout-total">Total: $ {{ carro.carro_total|intcomma }}</li>
      </ul>

      <div class="row">
        <div>
          {% if carro.cupon %}
            <ul>
              Has utilizado tu cupón!<li>Subtotal: $ {{ carro.carro_total|intcomma }}</li>
              <li>Descuento: $ {{ carro.descuento|intcomma }}</li>
              <li>Total: $ {{ carro.total|intcomma }}</li>
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script>
    function cuponAlert() {
      Swal.fire({
        title: '¡Cupón aplicado!',
        text: 'Tienes un descuento de {{carro.cupon.desc}}%.',
        icon: 'success',
        confirmButton: 'OK'
      })
    }
  </script>
{% endblock %}
