{% extends 'base.html' %}

{% load static %}

{% block title %}
  Checkout
{% endblock %}

{% block first_content %}

{% endblock %}

{% block second_content %}
  <div class="container-checkout">
    <div class="checkout-datos">
      <div class="checkout-title">
        <h2>Checkout</h2>
      </div>
      <form class="checkout-form" action="." method="post">
        {% csrf_token %}
        {{ form }}
        <div class="checkout-ordenar-button">
          <input type="submit" value="Ordenar" />
        </div>
      </form>
    </div>
    <div class="checkout-resumen">
      <div class="checkout-resumen-title">
        <h6>Tu pedido</h6>
      </div>
      <ul class="list-group">
        {% load humanize %}
        {% for item in carro %}
          <li class="list-group-item">
            {{ item.cantidad }} x {{ item.producto.nombre }}
            <span>$ {{ item.precio|intcomma }}</span>
          </li>
        {% endfor %}

        <li class="list-group-item active">Total: $ {{ importe_total_carro|intcomma }}</li>
      </ul>
    </div>
  </div>
{% endblock %}
