{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesando pago...</title>
</head>
<body onload="document.forms['transbank_form'].submit()">
    <form id="transbank_form" action="{{ url }}" method="post">
        <input type="hidden" name="token_ws" value="{{ token }}">
        <input type="hidden" name="amount" value="{{ total }}">
    </form>
</body>
</html>