{% extends 'base.html' %}
{% load static %}
{% block title %}
  Gracias por tu compra.
{% endblock %}
{% block content %}
  <div class="container-exito">
    <div class="row-exito">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="page-header">Gracias por tu compra.</h3>
        <p>
          Tu compra se ha realizado satisfactoriamente. El número de tu orden es <strong>{{ orden.id }}</strong>.          
        </p>
        {% load humanize %}
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Fecha: </th>
              <td>{{transaccion.transaction_date}}</td>
            </tr>
            <tr>
              <th scope="row">Número de transacción: </th>
              <td>{{ transaccion.buy_order }}</td>
            </tr>
            <tr>
              <th scope="row">Número de tarjeta: </th>
              <td>{{transaccion.card_number}}</td>
            </tr>
            <tr>
              <th scope="row">Cod de autorización: </th>
              <td>{{transaccion.authorization_code}}</td>
            </tr>
            <tr>
              <th scope="row">Total cancelado: </th>
              <td>$ {{orden.total_oc | intcomma}}  </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="exito-flork">
    <img class="" src="{% static 'img/flork-love.png' %}" />
  </div>
{% endblock %}
