{% extends 'base.html' %}
{% load static %}

{% block title %}Mi orden {{o.id}} {% endblock %}

{% block first_content %}{% endblock %}

{% block second_content%}
{% load humanize %}

<!-- 
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Orden n° {{orden.id}}</h5>
      <p class="card-text">
        Nombre: {{orden.nombre}} {{orden.apellido}}
        Dirección: {{orden.direccion}}, {{orden.comuna}}, {{orden.ciudad}}
        Telefono: {{orden.telefono}}
        <br>
        Comentario: {%if orden.comentario%} {{orden.comentario }} {% else %} No hay comentario. {% endif %}
        <h6>Productos:</h6>
      <p class="card-text">
        {% for i in items %}
            {{i.producto}} x {{i.cantidad}} -- {{i.precio | intcomma }}
      </p>
        {% endfor %}
        Total del pedido: $ {{orden.total_oc | intcomma }}
        <br>
        Estado: <strong>{{orden.estado}}</strong>
        <br>
      <a href="{% url 'ordenes:ordenes' %}" class="btn btn-primary">Volver</a>
    </div>
</div>
-->

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Orden {{o.id}}</h2>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">&times;</button>
    </div>
    <div class="modal-ordenes modal-body">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Orden n° {{orden.id}}</h5>
          <p class="card-text">
            Nombre: {{orden.nombre}} {{orden.apellido}}
            Dirección: {{orden.direccion}}, {{orden.comuna}}, {{orden.ciudad}}
            <br>
            Telefono: {{orden.telefono}}
            <br>
            Comentario: {%if orden.comentario%} {{orden.comentario }} {% else %} No hay comentario. {% endif %}
            <h6>Productos:</h6>
            {% for i in items %}
                {{i.producto}} x {{i.cantidad}} -- {{i.precio | intcomma }}
            {% endfor %}
            <br>
            
            {% if orden.cupon %}
            Subtotal: $ {{orden.subtotal | intcomma}}
            <br>
            Descuento: $ {{orden.descuento | intcomma }}
            {% endif %}
            <br>            
            Total del pedido: $ {{orden.total_oc | intcomma }}
            <br>
            Estado: <strong>{{orden.estado}}</strong> 
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary" type="button" href={% url 'ordenes:ordenes' %}>OK</a>
    </div>
  </div>
</div>

{% endblock %}