{% extends 'base.html' %}

{% load static %}

{% block title %}
  Lista de productos
{% endblock %}

{% block first_content %}

  <div class="container my-1">
    <div class="row">
      {% if 'OK' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Información <strong>ingresada</strong> satisfactoriamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Se ha producido un error.</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if 'NO_EXISTS' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Orden no encontrada.</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if 'UPDATED' in request.GET %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Orden <strong>actualizada</strong> satisfactoriamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if 'DELETED' in request.GET %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Orden <strong>eliminada</strong> satisfactoriamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block second_content %}
  <div class="container-ordenlist">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {% for o in ordenes %}
          <tr>
            <td><a class="btn btn-danger btn btn-outline-warning" href="{% url 'ordenes:orden_editar' o.id %}">{{ o.id }}</a></td>
            <td>{{ o.user }}</td>
            <td>{{ o.creada }}</td>
            <td><strong>{{ o.estado }}</strong></td>
            <td><form action="{% url 'ordenes:orden_estado' o.id %}" method="post">
                {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Update">
              </form>
            </td>
            <td>
              <a class="accion-eliminar" href="#" onclick="eliminarOrden('{{o.id}}')"><img src="{% static 'img/trash3.svg' %}" /></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="orden" role="dialog">

  </div>

  <script>
    function eliminarOrden(id) {
      Swal.fire({
        "title": "¿Borrar orden?",
        "text": "Esta acción no puede revertirse.",
        "icon": "warning",
        "showCancelButton": true,
        "confirmButtonColor": "red",
        "cancelButtonText": "No borrar",
        "confirmButtonText": "Elminar orden",
        "reverseButtons": true,
      }).then(function(result) {
        if (result.isConfirmed) {
          window.location.href = "/ordenes/admin/borrar/" + id
        };
      });
    };
  </script>
{% endblock %}
