{% extends 'base.html' %}

{% load static %}

{% block title%} Editar orden {% endblock %}

{% block first_content %}{%endblock%}

{% block second_content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">Editar orden:</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ ordenForm }}
                    <input type="submit" class="btn btn-primary" value="Guardar">
                    <a class="btn btn-secondary" href="/ordenes/admin/ordenlist">Volver</a>
                </form>
                
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Tu pedido:
                </div>
                <ul class="list-group">
                    {% load humanize %}
                    {% for i in items %}
                        {{i.producto}} ({{i.cantidad}}) -- $ {{i.precio | intcomma }}
                        <br>
                    {% endfor %}
                    <br>
            
                    {% if orden.cupon %}
                    Subtotal: $ {{orden.subtotal | intcomma}}
                    <br>
                    Descuento: $ {{orden.descuento | intcomma }}
                    {% endif %}
                    <br>            
                    Total del pedido: $ {{orden.total_oc | intcomma }}
                    <br>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}