{% extends 'base.html' %}
{% load static %}

{% block title %}Agregar categoría{% endblock %}

{% block first_content %}
  <!-- Este bloque está vacío, puedes agregar contenido aquí si es necesario -->
{% endblock %}

{% block second_content %}
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Añadir categoría</h2>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="container-categoria">
        <h1>Agregar categoría</h1>
    
        <form action="{% url 'categoria_nuevo' %}" method="post">
          {% csrf_token %}
          <label for="nombre" class="fw-bold">Categoría:</label>
          <div class="input-group">{{ form.nombre }}</div>
    
          <div class="categoria-button">
            <input type="submit" class="btn btn-primary m-2" value="Guardar">
            <button class="btn btn-danger" type="button" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
