{% extends 'base.html' %}

{% load static %}

{% block title %}
  Agregar categoría
{% endblock %}

{% block first_content %}
  <!-- Este bloque está vacío, puedes agregar contenido aquí si es necesario -->
{% endblock %}

{% block second_content %}
  <div class="container-categoria">
    <h1>Agregar categría</h1>

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="nombre" class="fw-bold">Categoría:</label>
      <div class="input-group">{{ form.nombre }}</div>

      <div class="categoria-button">
        <input type="submit" class="btn btn-primary m-2" id="registrar" value="Guardar" />
        <a href="/gestionPedidos/productos" class="btn btn-danger m-2">Cancelar</a>
      </div>
    </form>
  </div>
{% endblock %}
