{% extends 'base.html' %}

{% block title %}
  Añadir producto
{% endblock %}

{% block first_content %}
  <script type="text/javascript">
    var $ = jQuery.noConflict()
    function anadir_categorias(url){
      $('#categorias').load(url, function(){
          $(this).modal('show');
      });
    }
  </script>
{% endblock %}

{% block second_content %}
  <div class="container-nuevo-producto">
    <h1>Nuevo producto</h1>

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-editar">
        <label for="id_producto" class="fw-bold">ID:</label>
        <div class="input-group">{{ form.id_producto }}</div>
      </div>

      <div class="form-editar">
        <label for="nombre" class="fw-bold">Nombre:</label>
        <div class="input-group">{{ form.nombre }}</div>
      </div>

      <div class="form-editar">
        <label for="descripcion" class="fw-bold">Descripción:</label>
        <div class="input-group">{{ form.descripcion }}</div>
      </div>

      <div class="form-editar">
        <label for="precio" class="fw-bold">Precio:</label>
        <div class="input-group">{{ form.precio }}</div>
      </div>

      <div class="form-editar">
        <label for="categoria" class="fw-bold">Categoría:</label>
        <div class="input-group">{{ form.categoria }}</div>
        <p>
          <button onclick="anadir_categorias('{% url 'categoria_nuevo' %}')" class="btn btn-info m-2">Agregar categoría</button>
        </p>
      </div>

      <div class="form-editar">
        <label for="imagen" class="fw-bold">Imagen:</label>
        <div class="input-group">{{ form.imagen }}</div>
        {% if form.instance.imagen %}
          <div class="row my-2">
            <img src="{{ form.instance.imagen.url }}" alt="{{ form.instance.imagen }}" width="30%" height="30%" />
          </div>
        {% endif %}
      </div>

      <div class="nuevo-producto-button">
        <input type="submit" class="btn btn-primary m-2" id="registrar" value="Guardar" />
        <input type="reset" class="btn btn-secondary m-2" id="limpiar" value="Limpiar" />
        <a href="/gestionPedidos/productos" class="btn btn-danger m-2">Cancelar</a>
      </div>
    </form>
  </div>

  <div class="modal fade" id="categorias" role="dialog">

  </div>
{% endblock %}

{% block extrajs %}

{% endblock extrajs %}
