{% extends 'base.html' %}

{% block title%}Añadir producto{% endblock %}

{%block first_content %} {% endblock %}

{% block second_content %}
<div class="container my-2 py-3 text-dark text-center rounded">
    <h1>Agregando información de producto</h1>
</div>
<div class="container my-2 p-5">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="id_producto" class="fw-bold">ID:</label>
            <div class="input-group">
                {{form.id_producto}}
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="nombre" class="fw-bold">Nombre:</label>
            <div class="input-group">
                {{form.nombre}}
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="descripcion" class="fw-bold">Descripción:</label>
            <div class="input-group">
                {{form.descripcion}}
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="precio" class="fw-bold">Precio:</label>
            <div class="input-group">
                {{form.precio}}
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="categoria" class="fw-bold">Categoría:</label>
            <div class="input-group">
                {{form.categoria}}
            </div>
            <p><a href="/gestionPedidos/categoria_nuevo" class="btn btn-info m-2">Agregar categoría</a></p>
        </div>

        <div class="form-group mb-3">
            <label for="imagen" class="fw-bold">Imagen</label>
            <div class="input-group">
                {{form.imagen}}
            </div>
            {% if form.instance.imagen %}
                <div class="row my-2">
                    <img src="{{form.instance.imagen.url}}" alt="{{form.instance.imagen}}" width="30%" height="30%">
                </div>
            {% endif %}
        </div>

        <div class="text-center my-4">
            <input type="submit" class="btn btn-primary m-2" id="registrar" value="Guardar">
            <input type="reset" class="btn btn-secondary m-2" id="limpiar" value="Limpiar">
            <a href="/gestionPedidos/productos" class="btn btn-danger m-2">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}