{% extends 'base.html' %}

{% load static %}

{% block title %}
  Lista de productos
{% endblock %}

{% block first_content %}
<script type="text/javascript">
  var $ = jQuery.noConflict()
  function anadir_categorias(url){
    $('#categorias').load(url, function(){
        $(this).modal('show');
    });
  }
</script>

  <div class="container my-1">
    <div class="row">
      {% if 'OK' in request.GET %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Información <strong>ingresada</strong> satisfactoriamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if 'FAIL' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Se ha producido un error.</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if 'NO_EXISTS' in request.GET %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Producto no encontrado.</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if 'UPDATED' in request.GET %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Información <strong>actualizada</strong> satisfactoriamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if 'DELETED' in request.GET %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Información <strong>eliminada</strong> satisfactoriamente.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block second_content %}
  <div class="container-productos">
    <h1>Listado de productos</h1>
    <div>
      <button onclick="anadir_categorias('{% url 'categoria_nuevo' %}')" class="btn btn-info m-2">Agregar categoría</button>
      <a class="btn btn-secondary" href="{% url 'producto_nuevo' %}">Agregar producto</a>
    </div>
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Imagen</th>
          <th>Categoría</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for p in productos %}
          <tr>
            <td>{{ p.id_producto }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.descripcion }}</td>
            <td>{{ p.precio }}</td>
            <td>
              {% if p.imagen %}
                <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}" width="150" height="100" />
              {% else %}
                <img src="{% static 'img/image_not_found.jpg' %}" alt="INF" />
              {% endif %}
            </td>
            <td>{{ p.categoria }}</td>
            <td>
              <div class="productos-accion">
                <a class="accion-editar" href="{% url 'producto_editar' id_producto=p.id_producto %}"><img src="{% static 'img/pencil-square.svg' %}" /></a>

                <a class="accion-eliminar" href="#" onclick="eliminarProducto('{{p.id_producto}}')"><img src="{% static 'img/trash3.svg' %}" /></a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="categorias" role="dialog">

  </div>

  <script>
    function eliminarProducto(id_producto) {
      console.log(id_producto)
      Swal.fire({
        "title": "¿Borrar producto?",
        "text": "Esta acción no puede revertirse.",
        "icon": "warning",
        "showCancelButton": true,
        "confirmButtonColor": "red",
        "cancelButtonText": "No borrar",
        "confirmButtonText": "Elminar producto",
        "reverseButtons": true,
      }).then(function(result) {
        if (result.isConfirmed) {
          window.location.href = "/gestionPedidos/productos/borrar/" + id_producto
        };
      });
    };
  </script>
  
{% endblock %}