{% extends 'base.html' %}

{% load static %}

{% block title %}
  Editar producto
{% endblock %}

{% block second_content %}
  <div class="container-editar-producto">
    <h1>Editando información de producto</h1>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="editar-producto-body">
        <label for="id_producto" class="fw-bold">ID:</label>
        <div class="input-group">{{ form.id_producto }}</div>

        <label for="nombre" class="fw-bold">Nombre:</label>
        <div class="input-group">{{ form.nombre }}</div>

        <label for="descripcion" class="fw-bold">Descripción:</label>
        <div class="input-group">{{ form.descripcion }}</div>

        <label for="precio" class="fw-bold">Precio:</label>
        <div class="input-group">{{ form.precio }}</div>

        <label for="categoria" class="fw-bold">Categoría:</label>
        <div class="input-group">{{ form.categoria }}</div>

        <label for="imagen" class="fw-bold">Imagen:</label>
        <div class="input-group">{{ form.imagen }}</div>
        {% if form.instance.imagen %}
          <div class="row my-2">
            <img src="{{ form.instance.imagen.url }}" alt="{{ form.instance.imagen }}" />
          </div>
        {% endif %}

        <div class="editar-producto-button">
          <input type="submit" class="btn btn-primary m-2" id="actualizar" value="Actualizar" />
          <a class="btn btn-danger m-2" href="{% url 'productos' %}">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
