/* Noto Sans font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #f5ebdc;
  font-family: "Noto Sans", sans-serif;

}

a {
  text-decoration: none;
  color: #36454f;
}

li {
  list-style: none;
}

main {
  min-height: 100vh;
}

/*              BASE              /*

/* Navbar */
.navbar {
  width: auto;
  height: 5rem;
  background-color: #f0e2cb;
  position: relative;
  box-shadow: 0 4px 5px -2px #0006;
}

.dropdown {
  display: flex;
  width: auto;
  height: auto;
  color: #5c2515;
  text-align: center;
}

.dropdown-menu {
  border-radius: none;
  color: rgba(255, 0, 0, 0.589);
  border-radius: 10px;
}

.dropdown-menu :hover {
  background-color: transparent;
}

.dropdown button {
  height: 3rem;
  border: 32px;
  color: #5c2515;
}

.dropdown button:hover {
  border-radius: 32px;
  background-color: #5c261511;
  color: rgba(255, 0, 0, 0.589);
}

.container-fluid {
  width: auto;
  height: 5rem;
  position: absolute;
  right: 12rem;
}

.carrito :hover,
.inicio :hover,
.login :hover,
.signup :hover,
.base-seguimiento :hover {
  background-color: #5c261511;
  color: rgba(255, 0, 0, 0.589);
  border-radius: 32px;
}

.container-fluid a {
  color: #5c2515;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.main-usuario {
  width: 10rem;
  position: absolute;
  right: 48rem;
}

.main-usuario span {
  text-transform: capitalize;
}

.logo {
  width: auto;
  height: 5rem;
  margin-left: 0.5rem;
  position: relative;
}

.logo img {
  width: auto;
  height: 4rem;
}

.carrito:hover {
  background: transparent;
}

.carrito-logo {
  width: 25px;
  height: 25px;
}

.carrito-logo:hover {
  background-color: transparent;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 14.5rem;
  background-color: #f0e2cb;
}

.footer-pago {
  width: 15rem;
  height: 8rem;
  margin-top: 1rem;
  margin-right: 5rem;
  margin-left: 2rem;
  position: absolute;
  padding: 1rem;
}

.footer-pago h4 {
  font-size: 20px;
  font-weight: 300;
  color: #5c2515;
}

.footer-pago img {
  height: 4rem;
  width: 4rem;
  filter: grayscale(90);
  opacity: 0.3;
}

.footer-left {
  width: 15rem;
  height: 8rem;
  margin-top: 1rem;
  margin-right: 5rem;
  margin-left: 18rem;
  position: absolute;
  padding: 0.5rem 0 0 0;
  text-align: left;
}

.footer-left ul {
  list-style: none;
  margin: 0;
  padding: 8px;
  display: inline-block;
}

.footer-left li {
  width: 150px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.footer-left li :hover {
  color: rgba(255, 0, 0, 0.589);
}

.footer-left a {
  text-decoration: none;
  color: #5c2515;
  font-weight: bold;
  font-size: 18px;
}

.footer-info {
  width: auto;
  height: 8rem;
  margin-top: 1rem;
  margin-left: 34rem;
  position: absolute;
  padding: 25px 20px;
}

.footer-info p {
  line-height: 0px;
  margin-bottom: 20px;
  color: #5c2515;
}

.footer-redes {
  width: auto;
  height: auto;
  float: right;
  margin-top: 90px;
  margin-right: 20px;
}

.footer-redes img {
  width: 2rem;
  height: 2rem;
  margin-right: 15px;
  opacity: 0.8;
}

.footer-copyright {
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-left: 35%;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}

.footer-copyright h6 {
  color: #5c2515;
  font-weight: 500;
  font-size: 12px;
}

.footer-divider {
  width: 99vw;
  position: absolute;
  margin-bottom: 35px;
  bottom: 0;
}

.footer-divider hr {
  height: 1px;
  color: #5c2515;
}

/*              HOME              /*

/* Carousel */
.carousel {
  width: 100%;
  height: 50%;
}

.carousel-inner {
  width: auto;
  height: 32.75rem;
}

.carousel-inner img {
  width: auto;
  height: 32.75rem;
}

/*Main*/
.main-home h1 {
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/*Product Card*/

.container {
  width: auto;
  margin: auto;
  padding-left: 7rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 19rem;
  box-shadow: 0px 0px 25px #0003;
  margin-bottom: 2rem;
  padding: 0px;
  border-radius: 20px;
}

.card img {
  width: 19rem;
  height: 15rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-text-precio {
  font-size: 18px;
  font-weight: 600;
}

.agregar {
  width: 10rem;
  height: 3rem;
  margin: auto;
}

.boton-agregar {
  width: 10rem;
  height: 3rem;
  border: 0;
  border-radius: 20px;
  color: white;
  background: rgb(131, 58, 180);
  background: rgb(180, 58, 58);
  background: rgb(255, 0, 0);
  background: rgb(245, 235, 220);
  background: rgb(101, 48, 32);
  background: rgb(101, 48, 32);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: linear-gradient(90deg,
      rgba(195, 34, 34, 0.75) 0%,
      rgba(255, 125, 41, 0.75) 100%);
}

.agregar :hover {
  background-color: red;
}

.container-items {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

/*              LOGIN              /*

/*login*/

.login-container {
  width: 28rem;
  height: 43rem;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.login-logo {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 60%;
  position: relative;
  margin-left: 11rem;
  bottom: 3rem;
  box-shadow: 0px -6px 6px rgba(50, 50, 50, 0.45);
}

.login-logo img {
  width: 6rem;
  height: 7rem;
  position: relative;
  margin-left: 0.2rem;
  bottom: 0.6rem;
}

.login-header {
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
  bottom: 2rem;
}

.login-header h1 {
  font-weight: bold;
}

.login-body button {
  width: 350px;
  height: 50px;
  margin-left: 2rem;
  border: 0;
  border-radius: 20px;
  color: white;
  background: rgb(131, 58, 180);
  background: rgb(180, 58, 58);
  background: rgb(255, 0, 0);
  background: rgb(245, 235, 220);
  background: rgb(101, 48, 32);
  background: rgb(101, 48, 32);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: linear-gradient(90deg,
      rgba(195, 34, 34, 0.75) 0%,
      rgba(255, 125, 41, 0.75) 100%);
  position: relative;
  top: 5rem;
}

.login-body button:hover {
  background-color: red;
}

.login-body form {
  width: 25rem;
  margin-left: 1.4rem;
  padding-top: 1rem;
}

.login-body label {
  font-size: 14px;
  font-weight: 500;
}

.login-body input {
  margin-bottom: 20px;
  font-size: 16px;
  border-style: none;
  border-bottom: 2px solid #a9a9a9;
}

.login-recuperar {
  text-align: end;
  margin-bottom: 8rem;
  padding-right: 2rem;
  font-weight: 500;
  position: relative;
  bottom: 2rem;
}

.login-recuperar a {
  font-size: 14px;
  font-weight: 500;
  color: #36454f;
}

.login-recuperar a:hover {
  color: red;
}

.login-no-cuenta {
  text-align: center;
}

/*              SIGNUP              */
.signup-container {
  width: 28rem;
  height: auto;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.signup-logo {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 60%;
  position: relative;
  margin-left: 11rem;
  bottom: 3rem;
  box-shadow: 0px -6px 6px rgba(50, 50, 50, 0.45);
}

.signup-logo img {
  width: 6rem;
  height: 7rem;
  position: relative;
  margin-left: 0.2rem;
  bottom: 0.6rem;
}

.signup-header {
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
  bottom: 2rem;
}

.signup-header h1 {
  font-weight: bold;
}

.signup-body form {
  width: 25rem;
  margin-left: 1.4rem;
  padding-top: 1rem;
}

.signup-body label {
  font-size: 14px;
  font-weight: 500;
}

.signup-body input {
  margin-bottom: 20px;
  font-size: 16px;
  border-style: none;
  border-bottom: 2px solid #a9a9a9;
}

.signup-body button {
  width: 350px;
  height: 50px;
  margin-left: 2rem;
  border: 0;
  border-radius: 20px;
  color: white;
  background: rgb(131, 58, 180);
  background: rgb(180, 58, 58);
  background: rgb(255, 0, 0);
  background: rgb(245, 235, 220);
  background: rgb(101, 48, 32);
  background: rgb(101, 48, 32);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: linear-gradient(90deg,
      rgba(195, 34, 34, 0.75) 0%,
      rgba(255, 125, 41, 0.75) 100%);
  position: relative;
  top: 5rem;
}

.signup-body button:hover {
  background-color: red;
}

.signup-already {
  width: auto;
  height: 3rem;
  text-align: center;
  margin-top: 8rem;
}

/*              Detalle productos             */

.container-detalle {
  width: 60%;
  height: 30rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.detalle-imagen {
  width: 70%;
  height: 70%;
  padding: 1rem;
}

.detalle-imagen img {
  width: 400px;
  height: 400px;
  border-radius: 8px;
}

.detalle-panel h3 {
  margin-top: 1rem;
}

.detalle-categoria {
  font-style: italic;
  margin-bottom: 1rem;
}

.detalle-precio {
  color: red;
  margin-bottom: 2rem;
}

.detalle-precio p {
  font-size: 18px;
  font-weight: bold;
}

.detalle-descripcion {
  width: auto;
  height: auto;
  margin-bottom: 5rem;
}

.detalle-form {
  width: auto;
  height: auto;
  display: flex;
  margin-top: auto;
}

.detalle-button {
  width: auto;
  height: auto;
  border: 0;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  margin-left: 1rem;
}

.detalle-button input {
  width: 10rem;
  height: 2rem;
  border: 0;
  border-radius: 20px;
  color: white;
  background: rgb(131, 58, 180);
  background: rgb(180, 58, 58);
  background: rgb(255, 0, 0);
  background: rgb(245, 235, 220);
  background: rgb(101, 48, 32);
  background: rgb(101, 48, 32);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: linear-gradient(90deg,
      rgba(195, 34, 34, 0.75) 0%,
      rgba(255, 125, 41, 0.75) 100%);
}

.detalle-button :hover {
  background-color: red;
}

/*              Carrito              */

.carrito-container {
  background-color: white;
  width: 80%;
  height: 35rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.carrito-titulo {
  width: 70%;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.carrito-productos {
  width: 40rem;
  height: 30rem;
  position: absolute;
  margin-top: 5rem;
  margin-left: 3rem;
}

.carrito-actualizar {
  width: 5.5rem;
  height: 2rem;
  margin-top: 2rem;
  background-color: #45bec7;
  border-radius: 28px;
  border: 1px;
  text-shadow: 0px 1px 0px #2f6627;
  color: white;
}

.carrito-actualizar:hover {
  background-color: #389ca3;
}

.carrito-quitar {
  width: 5.5rem;
  height: 2rem;
  margin-top: 1rem;
  background-color: #c74545;
  border-radius: 28px;
  border: 1px;
}

.carrito-quitar:hover {
  background-color: #9c3636;
}

.carrito-quitar a {
  color: white;
}

.carrito-productos-cantidad {
  background-color: red;
}

.carrito-precio {
  width: 100px;
}

.carrito-total {
  width: 100px;
}

.carrito-resumen {
  width: 30%;
  background-color: #ffd4b7;
  padding: 2.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.h2-resumen {
  height: 2.8rem;
  font-size: 24px;
  text-align: center;
  border-bottom: 2px solid #e7bfa4;
}

.resumen-cantidad {
  width: auto;
  height: auto;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.resumen-local {
  width: auto;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.resumen-title {
  width: auto;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.resumen-select {
  width: 15rem;
  height: 3rem;
  border-radius: 9px;
}

.resumen-total {
  padding-top: 1.5rem;
  width: auto;
  height: auto;
  margin-top: 5rem;
  border-top: 2px solid #e7bfa4;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;

}

.carrito-resumen button {
  width: 12rem;
  height: 3rem;
  margin: auto;
  margin-top: 2rem;
  margin-left: 2rem;
  border: 0;
  border-radius: 20px;
  color: white;
  background: rgb(131, 58, 180);
  background: rgb(180, 58, 58);
  background: rgb(255, 0, 0);
  background: rgb(245, 235, 220);
  background: rgb(101, 48, 32);
  background: rgb(101, 48, 32);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: linear-gradient(90deg,
      rgba(195, 34, 34, 0.75) 0%,
      rgba(255, 125, 41, 0.75) 100%);
}

.checkout-cupon {
  position: relative;
}

.cupon-button {
  margin-top: 5px;
}

.checkout-subtotal {
  margin-top: 17rem;
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}


.carrito-signup button {
  margin-left: 4rem;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #0081cc7a 0%, #c500ccc1 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.carrito-signup button:hover {

  transition: 1000ms;
  padding: 10px 35px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #0081cc7a 0%, #c500ccc1 100%);
  color: #ffffff;
  border: none;
}

.carrito-resumen button:hover {
  background-color: red;
}

.detalle-titulo img {
  width: 20rem;
  height: 20rem;
  margin-bottom: 0;
}

/*              Checkout              */

.container-checkout {
  width: 60%;
  height: 55rem;
  display: flex;
  background-color: white;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.checkout-datos {
  width: 60%;
  height: auto;
}

.checkout-title {
  width: auto;
  height: auto;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
}

.checkout-form {
  width: auto;
  margin-left: 2.5rem
}

.checkout-form input {
  width: 25rem;
  height: 3rem;
  margin-bottom: 20px;

}



.checkout-ordenar-button {
  width: 10rem;
  bottom: 2rem;
  position: relative;
  margin-left: 32rem;
}

.checkout-ordenar-button input {
  width: 10rem;
  height: 3rem;
  margin: auto;
  margin-top: 2rem;
  margin-left: 2rem;
  border: 0;
  border-radius: 20px;
  color: white;
  background: rgb(131, 58, 180);
  background: rgb(180, 58, 58);
  background: rgb(255, 0, 0);
  background: rgb(245, 235, 220);
  background: rgb(101, 48, 32);
  background: rgb(101, 48, 32);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: linear-gradient(90deg,
      rgba(195, 34, 34, 0.75) 0%,
      rgba(255, 125, 41, 0.75) 100%);
}

.checkout-ordenar-button input:hover {
  background-color: red;
}

.checkout-resumen {
  width: 40%;
  background-color: #ffd4b7;
  padding: 2.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.checkout-resumen-title {
  width: auto;
  height: auto;
  margin-bottom: 2rem;
}

.checkout-list {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  padding: 5px 2px;
  margin-bottom: min(25px);
}

/*              Detalle              */

.detalle-titulo {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 34.4rem;
}

/*              Exito              */

.container-exito {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 25rem;
  text-align: center;
}

.exito-flork {
  width: 16rem;
  height: 16rem;
  margin: auto;
  margin-bottom: 4rem;
}

.exito-flork img {
  width: 16rem;
  height: 16rem;
}

/*              gestionPedidos Productos              */

.container-productos {
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 20rem;
  margin-top: 5rem;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.container-productos h1 {
  width: auto;
  height: auto;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.productos-accion img {
  margin: 5px;
}

.productos-accion img {
  width: 40px;
  height: 40px;
}

.accion-editar img {
  padding: 1px;
  border: solid 2px yellow;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.accion-eliminar img {
  padding: 1px;
  border: solid 2px red;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

/*              gestionPedidos Agreagar              */
.container-nuevo-producto {
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 12.5rem;
  margin-top: 5rem;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.container-nuevo-producto label {
  width: 100%;
  text-align: start;
}

/*              gestionPedidos Editar              */

.container-editar-producto {
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 12.5rem;
  margin-top: 5rem;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.input-group {
  padding: 1rem 0;
}

.editar-producto-body label {
  width: 100%;
  text-align: start;
}

.editar-producto-body img {
  width: 50%;
  height: 50%;
  margin: auto;
}

.editar-producto-button {
  margin-top: 2rem;
}

/*              gestionPedidos Categoria              */

.container-categoria {
  width: 30%;
  height: auto;
  margin: auto;
  margin-bottom: 19.3rem;
  margin-top: 5rem;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

/*              Órdenes              */
.container-ordenlist {
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 12.5rem;
  margin-top: 5rem;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.card {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}


/*              Buscador Órdenes              */

.container-buscador {
  width: 70%;
  margin: auto;
  margin-top: 6rem;
  padding: 10px 0px;
  background-color: rgba(255, 255, 255, 0.705);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
  border-radius: 8px;
}

.container-buscador h5 {
  width: 18rem;
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
}

.form-buscador {
  width: 97%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card-orden {
  width: 90%;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 5px 15px;

}

#card-orden {
  line-height: 50px;
}

.buscar-button {
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #0081cc7a 0%, #c500ccc1 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.buscar-button:hover {
  transition: 1000ms;
  padding: 10px 35px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #0081cc7a 0%, #c500ccc1 100%);
  color: #ffffff;
  border: none;
}

.detalle-orden {
  width: 100%;
}

.card-orden ul {
  max-width: 50%;
  text-align: start;
  line-height: 40px;
}

.card-orden li {
  text-align: start;
}

.card-orden span {
  font-weight: bold;
  text-align: start;
}

/*              Detalle transacción              */

.detalle-header {
  display: flex;
  width: auto;
  height: 3rem;
  text-transform: uppercase;
  background-color: #DBE9EE;
  padding-top: 1rem;
  padding-left: 12rem;
  border-radius: 8px;
}


.detalle-transaccion {
  width: auto;
  height: auto;
  border-radius: 50;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.05);

}

.table-transaccion {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.87);
}

.detalle-info {
  text-transform: uppercase;
}

.detalle-aprobado {
  height: auto;
  margin-top: 3rem;
}

.detalle-aprobado p {
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}

.detalle-aprobado img {
  height: 14%;
  width: 14%;
  filter: drop-shadow(0 0 0.45rem rgb(0, 255, 0));
}