/* Noto Sans font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #f5ebdc;
  font-family: "Noto Sans", sans-serif;
}

/*              BASE              /*

/* Navbar */
.navbar {
  width: auto;
  height: 5rem;

  background-color: #f0e2cb;
  position: relative;
  box-shadow: 0 4px 5px -2px #0006;
}

.container-fluid {
  width: auto;
  height: 5rem;
  background-color: transparent;
  position: absolute;
  right: 20px;
}
.container-fluid :hover {
  background-color: #5c261511;
  color: rgba(255, 0, 0, 0.589);
  border-radius: 30px;
}

.container-fluid a {
  color: #5c2515;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.logo {
  width: auto;
  height: 5rem;
  position: relative;
}

.logo img {
  width: auto;
  height: 4rem;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 14.5rem;
  background-color: #f0e2cb;
}

.footer-pago {
  width: 15rem;
  height: 8rem;
  margin-top: 1rem;
  margin-right: 5rem;
  margin-left: 2rem;
  position: absolute;
  padding: 1rem;
}

.footer-pago h4 {
  font-size: 20px;
  font-weight: 300;
  color: #5c2515;
}

.footer-pago img {
  height: 4rem;
  width: 4rem;
  filter: grayscale(90);
  opacity: 0.3;
}

.footer-left {
  width: 15rem;
  height: 8rem;
  margin-top: 1rem;
  margin-right: 5rem;
  margin-left: 18rem;
  position: absolute;
  padding: 0.5rem 0 0 0;
  text-align: left;
}

.footer-left ul {
  list-style: none;
  margin: 0;
  padding: 8px;
  display: inline-block;
}

.footer-left li {
  width: 150px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.footer-left li :hover {
  color: rgba(255, 0, 0, 0.589);
}

.footer-left a {
  text-decoration: none;
  color: #5c2515;
  font-weight: bold;
  font-size: 18px;
}

.footer-info {
  width: auto;
  height: 8rem;
  margin-top: 1rem;
  margin-left: 34rem;
  position: absolute;
  padding: 25px 20px;
}

.footer-info p {
  line-height: 0px;
  margin-bottom: 20px;
  color: #5c2515;
}

.footer-redes {
  width: auto;
  height: auto;
  float: right;
  margin-top: 90px;
  margin-right: 20px;
}

.footer-redes img {
  width: 2rem;
  height: 2rem;
  margin-right: 15px;
  opacity: 0.8;
}

.footer-copyright {
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-left: 35%;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}

.footer-copyright h6 {
  color: #5c2515;
  font-weight: 500;
  font-size: 12px;
}

.footer-divider {
  width: 99vw;
  position: absolute;
  margin-bottom: 35px;
  bottom: 0;
}

.footer-divider hr {
  height: 1px;
  color: #5c2515;
}

/*              HOME              /*

/* Carousel */
.carousel {
  width: 100%;
  height: 50%;
}

.carousel-inner {
  width: auto;
  height: 32.75rem;
}

.carousel-inner img {
  width: auto;
  height: 32.75rem;
}

/*Main*/
main h1 {
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  text-align: center;
}

/*Product Card*/

.productos {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.card {
  margin: 1rem 5rem;
  margin-bottom: 10rem;
  width: 20rem;
  height: auto;
  box-shadow: 0px 0px 25px #0003;
  border-radius: 3px;
}

.col-md {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  border-radius: 0 0 8px;
  background-color: #5c2515ed;
  padding: 0;
}

.col-md a {
  color: white;
}

.col-4 p {
  width: auto;
  height: auto;
  color: black;
  font-size: 1.5rem;
  margin: 0;
}

/*              LOGIN              /*

/*login*/
form {
  width: 450px;
  height: 700px;
  background-color: white;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

form h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 38px;
}

form label {
  font-size: 14px;
  font-weight: 500;
}

form ::placeholder {
  color: #a9a9a9;
}

input:focus::placeholder {
  color: transparent;
}

.login-logo {
  width: 80px;
  height: auto;
  margin: auto;
}

.login-logo img {
  width: 80px;
  height: 90px;
}

.login-campos {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  color: #36454f;
}

.login-campos input {
  margin-bottom: 20px;
  font-size: 16px;
  border-style: none;
  border-bottom: 1px solid #a9a9a9;
}

.login-recuperar {
  width: 170px;
  height: auto;
  margin: 0px 20px 0px 180px;
  text-align: right;
  font-weight: 500;
}

.login-recuperar {
  text-decoration: none;
  font-size: 14px;
  color: #36454f;
}

input[type="text"] {
  width: 350px;
  height: 50px;
  outline: none;
  margin-top: 0;
}

input[type="password"] {
  width: 350px;
  height: 50px;
  outline: none;
  margin-bottom: 10px;
}

input[type="email"] {
  width: 350px;
  height: 50px;
  outline: none;
  margin-top: 0;
}

input[type="submit"] {
  width: 350px;
  height: 50px;
  margin-top: 30px;
  border: 0;
  border-radius: 20px;
  color: white;
  background: rgb(131, 58, 180);
  background: rgb(180, 58, 58);
  background: rgb(255, 0, 0);
  background: rgb(245, 235, 220);
  background: rgb(101, 48, 32);
  background: rgb(101, 48, 32);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: rgb(195, 34, 34);
  background: linear-gradient(
    90deg,
    rgba(195, 34, 34, 0.75) 0%,
    rgba(255, 125, 41, 0.75) 100%
  );
}

input[type="submit"]:hover {
  background-color: red;
}

.button-ingresar {
  margin-top: 400px;
}

.login-no-cuenta {
  width: auto;
  height: auto;
  margin-top: 100px;
  text-align: center;
}

.login-no-cuenta a {
  text-decoration: none;
}

/*              SIGNUP              */
.signup-logo {
  width: 80px;
  height: auto;
  margin: auto;
}

.signup-logo img {
  width: 80px;
  height: 90px;
}

.signup-campos {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.signup-campos input {
  margin-bottom: 10px;
  font-size: 16px;
  border-style: none;
  border-bottom: 1px solid #a9a9a9;
}

.signup-ingresar {
  width: auto;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.signup-ingresar a {
  text-decoration: none;
}
